<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>简易网盘主页</title>
<script>
function delete1(){
	var r=confirm("确认要删除文件?")
	if(r==true){
		return true
	}
	else
    {
		return false
    }
}

</script>
</head>
<body>
	<table width="95%" border="1" cellpadding="2" collapse="1">
	<tr><td>序号<td>文件名</td><td>路径</td><td>选项</td></tr>
	<tr th:each="file,stat:${filelistindex1}">
		<td th:text="${stat.count}">

		<td><a href="#" th:href="@{downloadfile(filename=${file.name})}"  th:text="${file.name}"></a></td>

		<td>
		<a th:text="${file.getCanonicalPath()}">    </a>
		</td>

		<td>
		<a href="#" th:href="@{downloadfile(filename=${file.name})}"><button th:text="下载"></button></a>
		<a href="#" target="_blank" th:href="@{modify(filepath=${file.getCanonicalPath()},filename=${file.name})}"><button th:text="重命名"></button></a>
		<a href="#" onclick="return delete1();" th:href="@{delete2(filepath=${file.getCanonicalPath()})}" ><button th:text="删除"></button></a>
		</td>
	</tr>
	</table>
	<hr/>
	<a href="#" th:href="@{upload}">上传</a>
	
	
	
</body>
</html>