<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注册</title>
<link rel = "stylesheet" type="text/css"  th:href="@{/css/login.css}"/> 
<script>

function validateregister(){
    var check = /^(\w+([-.][A-Za-z0-9]+)*){3,18}@\w+([-.][A-Za-z0-9]+)*\.\w+([-.][A-Za-z0-9]+)*$/ ;  //邮箱验证
    var check1 = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/ ;//密码验证
    var check2 = /^[a-zA-Z0-9]{6,20}$/;//账号验证
	var sUserName = document.regLogin.userName.value ;//正则表达式使用    var check=/  /;        包含
	 var sPassword = document.regLogin.userPwd.value ;
	 var sPassword2 = document.regLogin.userPwd2.value ;
	 var sEmail = document.regLogin.userEmail.value;   
	 var codeinput = document.regLogin.Emailv.value;
	 if (sUserName ==""){
		alert("请输入用户名!");
		return false;
		 }
	 else if (sPassword ==""){
		 alert("请输入密码!");
		return false;
		}
	 else if (sPassword2 ==""){
		 alert("请再次输入密码以确定！!");
		return false;
		}	
	 else if (sPassword!=sPassword2){
	    alert("两次输入密码不一致 请检查后输入！");
		return false;
		}
	 else if (sUserName.length>20||sUserName.length<5){
		    alert("账号要求位数为6-20位，请修改账号！");
			return false;
			}
	 else if (!check2.test(sUserName)){
		    alert("账号设置不符合规范，账号必须由字母或者数字构成！请修改账号！");
			return false;
			}
	 else if (sPassword.length>20||sPassword.length<8){
		    alert("密码要求位数为8-16位，请修改密码！");
			return false;
			}
	 else if (!check1.test(sPassword)){
		    alert("密码设置不符合规范，密码必须包含数字和字母，请重新输入！");
			return false;
			} 
	 else{
		 if(confirm("注册所需信息核验通过！！")){
			 return true;}
			 else{return false;}
			}
	 }
</script>
</head>
<body>
	<stection>
			<!-- 背景色 -->
			<div class = "color"></div>
			<div class = "color"></div>
			<div class = "color"></div>
			<div class = 'box'>
				<!-- 背景圆 -->
				<div class = "circle" style = "--x:0"></div>
				<div class = "circle" style = "--x:1"></div>
				<div class = "circle" style = "--x:2"></div>
				<div class = "circle" style = "--x:3"></div>
				<div class = "circle" style = "--x:4"></div>
				<!-- 注册框 -->
				<div class = 'container'>
					<div class = "from">
						<h2 align="center">注册新账号</h2>
					        <form   method="POST" th:action="@{/register}" th:object="${loginBean}" target="_blank"> 
							<div class = "inputbox">
								<p id="wenzi">账号名：</p><input type="text" placeholder="新的账号（6-20位）" th:field ="*{uname}" maxlength="20"/>
							    <p id="tishi">提示：账号必须由字母或者数字构成！</p>
							</div>
							<div class = "inputbox">
								<p id="wenzi">密码：</p><input type = "password" placeholder = "必须包含数字和字母（8-16位）" th:field="*{upwd}" maxlength="16"/>
							</div>
							<div class = "inputbox">
								<p id="wenzi">重复你的密码：</p><input type = "password" placeholder = "重复密码" th:field="*{upwd2}" maxlength="16"/>
							</div>
																	
							<div class="inputbox">
								<input type = "submit" name="Submit" value = "注册" />
								<input type = "reset"  name="Reset"  value = "重置" />
							</div>
							
						  </form>	
						  

					</div>
				</div>
			</div>
	</stection>

</body>
</html>